body {
    background-color: rgb(137, 143, 163);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

/* GENERAL REUSABLE STYES */
.text-shadow {
    text-shadow: 2px 2px 2px rgba (0, 0, 0, 0.5);
}

/* FLASHED MESSAGES */

.flashes h4 {
    line-height: 2;
}

/* SIDEBAR  */
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0px;
  padding-top: 50px;
  padding-left: 30px;
  width: 225px;
  background-color: rgb(174, 179, 196);
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 15px;
  text-align: justify;

}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: rgba(174, 179, 196, 0.911);
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgba(119, 119, 119, 0.616);
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 225px;
  padding: 1px 16px;
  height: 1000px;
}


/* REGISTER PAGE */

.register-text {
    font-size: 20px;
    font-weight: 500;
    color: darkblue;
    text-align: center;
}
/* Book Container */

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2%;
    margin-top: 12%;
    align-items: center;
    margin-right: 1%;
     height: 50vh;
     width: 70vw;
}

.flex-card {
margin: 10px;
padding: 0px;
}



/* BOOK CARD FOR FLIPPENING */  

:root {
    --primary:#ffce00;
    --secondary: #fe4880;
    --dark: #212121;
    --light: #fefefe;
}
.card {
    margin: 2px;
    margin-bottom: 25px;
    width: 282px;
    height: 450px;
    perspective: 1000px;
    border-radius: 5%;
    background-color: rgb(137, 143, 163);
    /* border: 3px solid rgb(75, 53, 43); */
    box-shadow: none;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}


.card__face {

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2); */
}

.card__face--front h2 {
     font-size: 2rem!important;
}

.card__face--front {
    background-image: linear-gradient(#4e3820, #3d2917);
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 3px;
    /* align-items: center; */
    /* justify-content: center; */
}

.card__face--front h2 {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-align: center;
}

.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__header {
position: relative;
padding: 10px 10px 20px;
}

.card__header::after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 25% 0;
    background-image: linear-gradient(#9fa8da, #7986cb);
}

.pp {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 30px;
    border-radius: 25%;
    background-color: #fff;
    border: 5px solid #fff;
    object-fit: cover;
}

.card__header h2 {
    color: rgb(37, 37, 37)45);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    padding: 5px;
}

.card__body h3 {
color: rgb(20, 20, 46);
font-size: 4px;
font-weight: 500;
margin-bottom: 15px;
}

.card__body p {
    color: rgb(0, 11, 46);
    font-size: 15px;
    line-height: 1.5;
}





/* Media Queries for sidebar  */

On screens that are less than 700px wide, make the sidebar into a topbar
@media screen and (max-width: 700px) {
  .sidebar {
    height: auto;
    position: relative;
    width: 150px;
    background-color: rgba(119, 119, 119, 0.616);
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

On screens that are less than 400px, display the bar vertically, instead of horizontally 
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 