{% extends "base.html" %}
{% block content %}

    <h3 class="teal center-align">Add New Chapters</h3>
    <!-- ICON INPUT -->
    <div class="main-page create-book-background">

        <div class="row card-panel grey lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('add_chapter') }}">
                <!-- TITLE -->
                <div class="row">
                    <div class="input-field col m8 offset-2">
                        <i class="fas fa-book-open prefix red-text"></i>
                        <input id="chapter_name" name="chapter_name" minlength="5" maxlength="40" type="text" class="validate"
                            required>
                        <label for="chapter_name">Chapter Title</label>
                    </div>
                </div>
                <!-- SEQUENCE -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ol prefix indigo-text"></i>
                        <input id="sequence_name" name="sequence_name" minlength="5" maxlength="40" type="tel" class="validate"
                            required>
                        <label for="sequence_name">Sequence - example: Chapter 1</label>
                    </div>
                </div>
                <!-- OUTLINE -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-feather-alt prefix green-text"></i>
                        <textarea id="outline_name" name="outline_name" minlength="5" maxlength="400"
                             type="tel" class="validate materialize-textarea"
                            required></textarea>
                        <label for="outline_name">Chapter Outline</label>
                    </div>
                </div>
                <!-- Book Select - for Chapter Page -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix amber-text"></i>
                        <select id="book_name" name="book_name" class="validate" required>
                            <option value="" disabled selected></option>
                            {% for book in books %}
                                <option value="{{ book.book_name }}">{{ book.book_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="book_name">Select Book</label>
                    </div>
                </div>
                <!-- Add button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn-large waves-effect waves-light" type="submit" name="">Add Chapter
                            <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>

{% endblock %}


