{% extends "base.html" %}
{% block content %}

    <!-- <ul class="collapsible">
        {% for book in books %}
        <li>
            <div class="collapsible-header white-text indigo text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ book.book_name }}</strong> : Last Edited {{ book.edited_last }}
            </div>

            <div class="collapsible-body indigo lighten-5">
                <p><strong>Genre:</strong> {{ book.genre }}</p>
                <p><strong>Description:</strong> {{ book.description }}</p>
                <p><strong>Author:</strong> <em> {{ book.user_name }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul> -->
<!-- Button Add new books -->
<div class="row title-row">
    <div class="col col-6 book-title">
        <h2 class="underline">Book Library</h2>
    </div>
    <div class="col col-2"></div>
    <div class=" col col-4">
        <div class="book-create-btn plus-button">
        <a class="waves-effect waves-light btn-large" href="{{ url_for('add_book') }}" ><i class="fas fa-plus left"></i>Create New Book</a>
        </div>
    </div>
</div>
<!-- CARD TUTORIAL FOR BOOKS -->
<div class="book-page-container">
    {% for book in books %}    
        <div class="card flex-card">
            <div class="card__inner">  
                <div class="card__face card__face--front">
                    <h2>BOOK NUMBER</h2>
                    <br>
                    <br>
                    <h2>{{ book.book_name }}</h2>
                </div>
                <div class="card__face card__face--back">
                    <div class="card__content">
                        <div class="card__header">
                            <h2><strong>{{ book.book_name }}</strong></h2>
                        </div>
                        <div class="card__body">
                            <p>Genre : {{ book.genre }}</p>
                            <p><strong>Description:</strong> {{ book.description }}</p>
                            <p><strong>Author:</strong> <em> {{ book.user_name }}</em></p>
                            <p><em>user: {{ book.created_by }}</em></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}