{% extends "base.html" %}
{% block content %}
<!-- Title -->
<div class="row title-row">
    <div class="col s6 book-title">
        <h2 class="underline">Chapters</h2>
    </div>
    <div class="col s2"></div>
    <div class=" col s4">
        <div class="book-create-btn plus-button">
        <a class="waves-effect waves-light btn-large" href="{{ url_for('add_chapter') }}" ><i class="fas fa-plus left"></i>Add New Chapter</a>
        </div>
    </div>
</div>
    <!-- <ul class="collapsible"> -->
    {% for chapter in chapters %}
        <ul class="collapsible expandable"></ul>
            <li>
                <div class="collapsible-header white-text indigo text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ chapter.chapter_name }}</strong> : Last Edited {{ chapter.edited_last }}
                    <div class="collapsible-body"><span>{{ chapter.outline }}</span></div>
                    <p><em>user: {{ chapter.created_by }}</em></p>
                </div>
            </li>
        </ul>
    {% endfor %}
    

{% endblock %}