{% extends "base.html" %}
{% block content %}

    <h3 class="teal center-align">Edit Chapters</h3>
    <!-- ICON INPUT -->
    <div class="main-page create-book-background">

        <div class="row card-panel grey lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('edit_chapter', chapter_id=chapter._id) }}">
                <!-- TITLE -->
                <div class="row">
                    <div class="input-field col m8 offset-2">
                        <i class="fas fa-book-open prefix red-text"></i>
                        <input id="chapter_name" name="chapter_name" minlength="5" maxlength="40"
                            value="{{ chapter.chapter_name }}" type="text" class="validate" required>
                        <label for="chapter_name">Chapter Title</label>
                    </div>
                </div>
                <!-- SEQUENCE -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ol prefix indigo-text"></i>
                        <input id="sequence_name" name="sequence_name" minlength="5" maxlength="40"
                            value="{{ chapter.sequence }}" type="text" class="validate" required>
                        <label for="sequence_name">Sequence - example: Chapter 1</label>
                    </div>
                </div>
                <!-- OUTLINE -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-feather-alt prefix green-text"></i>
                        <textarea id="outline_name" name="outline_name" minlength="5" 
                            maxlength="400" class="validate materialize-textarea" required>
                            {{- chapter.outline -}} </textarea>
                        <label for="outline_name">Chapter Outline</label>
                    </div>
                </div>
                <!-- Character Select - for Chapter Page -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix amber-text"></i>
                        <select multiple id="character_names" name="character_names" class="validate" required>
                            <option value="" disabled selected>Select Characters</option>
                            {% for character in characters %}
                                <option value="{{ character.character_names }}">{{ character.character_names }}</option>
                            {% endfor %}
                            <!-- "characters": request.form.getlist("characters_list") - needs to go in app.py file *def add_chapter* to return list of characters  -->
                            
                        </select>
                        <label for="character_names">Characters</label>
                    </div>
                </div>
                <!-- Add button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_chapters') }}" class="btn-large waves-effect waves-light red" type="submit">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                        <button class="btn-large waves-effect waves-light" type="submit" name="">Save
                            <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>

{% endblock %}


