{% extends "base.html" %}
{% block content %}
    <h3 class="blue-grey center-align">Edit Chapter</h3>
    <!-- BACKGROUND -->
    <div class="main-page create-book-background">
        <div class="row card-panel grey lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('edit_chapter', chapter_id=chapter._id) }}">
                <!-- TITLE -->
                <div class="row">
                    <div class="input-field col m8 offset-2">
                         <i class="fas fa-book-open prefix blue-grey-text text-lighten-3"></i>
                        <input id="chapter_name" name="chapter_name" minlength="5" maxlength="40"
                            value="{{ chapter.chapter_name }}" type="text" class="validate" required>
                        <label for="chapter_name">Chapter Title</label>
                    </div>
                </div>
                <!-- SEQUENCE -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ol prefix blue-grey-text text-lighten-2"></i>
                        <input id="sequence_name" name="sequence_name" minlength="5" maxlength="40"
                            value="{{ chapter.sequence }}" type="text" class="validate" required>
                        <label for="sequence_name">Sequence - example: Chapter 1</label>
                    </div>
                </div>
                <!-- OUTLINE -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-edit prefix blue-grey-text text-lighten-1"></i>
                        <textarea id="outline_name" name="outline_name" minlength="5" 
                            maxlength="400" class="validate materialize-textarea" required>
                            {{- chapter.outline -}} </textarea>
                        <label for="outline_name">Chapter Outline</label>
                    </div>
                </div>
               <!-- BOOK SELECT - for Chapter Page -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix blue-grey-text"></i>
                        <select id="book_name" name="book_name" class="validate" required>
                            <option value="" disabled selected></option>
                            {% for book in books %}
                                <option value="{{ book.book_name }}">{{ book.book_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="book_name">Select Book</label>
                    </div>
                </div>
                <!-- Add button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_chapters') }}" class="btn-large waves-effect waves-light red lighten-1">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                        <button class="btn-large waves-effect waves-light indigo accent-2" type="submit">Save
                            <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


