{% extends "base.html" %}
{% block content %}
    <div class="row profile-title">
        <div class="col s12 m12 ">
            <div class="card-panel indigo lighten-5">
                    <h3 class="center-align  indigo-text text-darken-4">
                        {{ username }}'s Profile
                    </h3>
            </div>
        </div>
    </div>
    <div class="row profile-list-top">
        <div class="col s12 m6">
            <div class="card-panel  blue-grey darken-1">
                <h4>
                Total Books by User: {{ booknum }}
                </h4>
            </div>    
        </div>
        <div class="col s12 m6">
            <div class="card-panel blue-grey darken-2">
                <h4>
                Total Chapters by User: {{ chapnum }}
                </h4>
            </div>
        </div>  
    </div>
{% endblock %}